<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ subTitle }}</h1>
  <p>{{ additionalInfo }}</p>

  <table border="1">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>ID User</th>
        <th>Alamat</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      {{!-- <tr>
        <td>1</td>
        <td>John Doe</td>
        <td>PM12456</td>
        <td>123 Main Street</td>
        <td>Male</td>
      </tr> --}}
      {{#each users}}
        <tr>
          {{!-- <td>{{add @index 1}}</td> --}}
          <td>{{@index}}</td>
          <td>{{this.nama}}</td>
          <td>{{this.id_user}}</td>
          <td>{{this.alamat}}</td>
          <td>{{this.gender}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  
</body>
</html>